body {
    background: url('../img/bck.gif') repeat-x;
}
.container {
    background: url('../img/bck.jpg') top center no-repeat;

}
.page {
    background: #fff;
    border-radius: 15px 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.header{
    position: relative;
    padding-top: 300px;
}

#logo {
    position: absolute;
    top: 60px;
    left: 0px;
}

ul li {
    list-style-type: none;
}

.full-width {
    width: 100%
}

.ustanova {
    margin-top: 30px;
}

.delete, .delete:hover {
    background: url('../img/trash.png') no-repeat;
    height: 16px;
    width: 16px;
    border: none;
    bottom: 0px;
    margin-left: 10px;
}

.delete:hover {
    background: url('../img/trash-over.png') no-repeat;
}

.kontakti{
      font-size: 0.875em;
}