body {
    background: url('../img/bck.gif') repeat-x;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


h1 {
    font-size: 2em;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

a {
  color: #9a3539;
}

a:hover {
    color: #691316;
}
.page {
    background: #fff;
    border-radius: 15px 15px;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 15px;
}

.header{
    position: relative;
    padding-top: 130px;
}

#logo {
    position: absolute;
    top: 60px;
    left: 0px;
}

ul li {
    list-style-type: none;
}

.full-width {
    width: 100%;
}

.ustanova {
    margin-top: 30px;
}

.ustanova th {
    padding: 1em 0.625em;;
    background-color: #a2494f;
    color: #fff;
}

.aparati{
    padding: 0px;
    margin: 0px;
}

.aparati tr td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.delete, .delete:hover {
    background: url('../img/trash.png') center center no-repeat;
    border: none;
   /* top: 10px;*/

}

.delete:hover {
    background: url('../img/trash-over.png') center center no-repeat;
}

.kontakti{
      font-size: 0.875em;
}

button, .button, .button:focus {
    background-color: #9a3539;
    border-color: #691316;
}

button, .button:hover{
    background-color: #691316;
    border-color: #691316;
}

.disabled {
    background-color: #a2494f !important;
    border-color: #9a3539 !important;
}

.add {
    margin-left: 10px;
    bottom: 5px;
}